.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.mainPage .ionGrid {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  vertical-align: middle !important;
}

.mainPage .picture {
  margin-top: 20px;
  width: 85%;
  text-align: center !important;
}

.socialFeed {
  margin-bottom: 150px;
}

.socialFeed .alignRight {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  padding: 0;
  justify-content: flex-end;
}

.socialFeed .icon {
  width: 50px;
}

.socialFeed .profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
}

.verticalAlignContent {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.removePadding {
  padding: 0 !important;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
  font-size: large;
}

.bot-message {
  background: gainsboro;
}

.user-message {
  background: blanchedalmond;
}

.remove-margin {
  margin: 0 !important;
}

.footer {
  margin-bottom: 130px;
  margin-top: 10px;
}

.fab-button {
  margin-bottom: 180px;
}

.reactionWidth {
  width: 60%;
  margin-top: 10px;
}
.message-input {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  background: #fff;
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
  font-size: large;
}

.message-input:focus {
  overflow: auto;
  outline: none;
  background-color: blanchedalmond;
  font-size: large;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 1em;
}

.classified {
  font-style: italic;
  font-size: small;
}

.profile {
  margin-bottom: 150px;
}

.profile .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 25px;
}

.profile .profileInfo {
  margin-bottom: -210px;
}

.noMargin {
  margin-top: 0 !important;
}

.profile .button {
  width: 100%;
  display: flex !important;
  align-items: center !important;
  padding: 0;
  justify-content: flex-end !important;
  margin-right: 0 !important;
}

.profile .friends {
  margin-top: 25px;
}

.profile .avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 25px;
}

.horizontalAlignContent {
  font-size: larger;
  margin: 25px 10px;
  text-align: center !important;
}

.profile .username {
  font-size: x-large;
}

.profile .optIn {
  margin-top: 25px;
}

.profile .optIn .label {
  margin-left: 10px;
}

.profile .optIn .toggle {
  width: 100%;
  display: flex !important;
  align-items: center !important;
  padding: 0;
  justify-content: flex-end !important;
  margin-right: 0 !important;
}

.mainPage .icon {
  margin-right: 15px;
}