.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.mainPage .ionGrid {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
  vertical-align: middle !important;
}

.socialFeed {
  margin-bottom: 150px;
}

.socialFeed .alignRight {
  text-align: right;
}

.socialFeed .icon {
  width: 50px;
}

.removePadding {
  padding: 0 !important;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}

.bot-message {
    background: lightblue;
    color: #fff;
}

.user-message {
    background: plum;
    color: #fff;
}

.reactionWidth {
  width: 60%;
  margin-top: 10px;
}
.message-input {
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    background: #fff;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.msg-btn {
    --padding-start: 0.5em;
    --padding-end: 1em;
}
